.imagenes-carrito {
    width: 18rem;
    height: 22rem;
}

.card-cart {
    margin-left: 50px;
    margin-top: 50px;
}

.eliminarProducto-cart {
    display: flex;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume-cart {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.empty-cart {
    padding: 10px;
}

.end-buy {
    margin-top: 2rem;
    display: flex;
    font-size: 20px;
    color: rgb(30, 173, 142);
    text-decoration: none;
}


.card-cart {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
}


.item-name {
    color: white;
    font-size: 3rem;
}

.item-quantity {
    color: rgb(0, 208, 255);
    font-size: 1.8rem;
}

.item-price {
    color: #199319f0;
    font-size: 1.8rem;
}

.item-image {
    margin-top: 2rem;
}

.eliminarProducto-cart {
    background-color: rgba(255, 0, 0, 0.576);
    border: solid 1px white;
    border-radius: 3px;
}