@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

.contenedorItem {
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;
}

.contenedorItem img {
    width: 30rem;
    height: 40rem;
}

.info {
    margin-left: 5rem;
}

.info h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5rem;
}

.id-product {
    margin-top: 4rem;
    color: pink;
    font-size: 3rem;
    font-weight: 500;
}

.product-info {
    margin-left: 2rem;
}

.product-info p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: white;
    max-width: 60rem;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.price {
    color: rgb(58, 225, 58);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.checkout {
    margin-top: 4rem;
    list-style: none;
    font-size: 4rem;
    color: white;
    text-decoration: none;
}