header {
    display: flex;
    align-items: center;
    background-color: black;
    color: #ffffff;
}

/* LOGO */
header img {
    width: 18rem;
    height: 8rem;
}

/* LOCATION */ 
.location {
    display: flex;
}

.location span {
    display: flex;
    font-weight: bold;
    font-size: 1.15rem;
}

.location img {
    width: 2rem;
    height: 2.1rem;
}


/* SEARCH BAR */

.search-container {
    margin-left: 4rem;
    margin-left: 4rem;
}

input {
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 40rem;
    height: 4rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
}

/* LIST */
.nav-list {
    margin: auto;
}

.nav-list ul {
    text-transform: lowercase;
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}

.nav-list ul li {
    margin: 0rem 3rem;
}

.nav-list ul li a {
    text-decoration: none;
    color: white;
}

/* LOGIN / REGISTER */
.account-div button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    width: 11rem;
    height: 2.6rem;
    margin: 1rem;
    border: none;
    border-radius: 0.23rem;
    display: block;
}

.login-button {
    background-color: #E99634;
}

.register-button {
    background-color: #1AB088;
}

