.carrito {
    width: 4rem;
    height: 4rem;
    margin-right: 0.8rem;
}

.cantidad-cart {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    position: absolute ;
    right: 19px;
    top: 9px;
    
}