.cart-message {
    font-family: 'Poppins', sans-serif;
    margin: 2rem 2rem;
    font-size: 3rem;
    color: white;
}

.resume-cart {
    font-family: 'Poppins', sans-serif;
}

.total-quantity {
    color: white;
}

.total-sum {
    color: #199319f0;
}

.empty-cart {
    margin-top: 2rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.576);
    border: solid 1px white;
    border-radius: 3px;
}